.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.title {
  width: 408px;
  height: auto;

  margin-top: 0.5rem;
}

.bottomContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
  margin-bottom: 1.4rem;
}
